<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Technology News</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" *ngFor="let apiData of data">
            <a [href]="apiData.url" [ngStyle]="{'display':'block','width':'100%'}">
                <img [src]="apiData.urlToImage" alt="" [ngStyle]="{'width':'100%'}">
                <div class="card-item">
                    <span>{{apiData.source.name}}</span>
                    <span>{{apiData.author}}</span>
                    <h3>{{apiData.title}}</h3>
                    <p>{{apiData.description}}</p>
                </div>
            </a>
        </div>
    </div>
</div>