<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="logo-block d-flex">
          <img src="./img/logo.png" alt="">
          <h1>Daily News</h1>
        </div>
      </div>
      <div class="col-md-8">
        <nav>
          <a routerLink="">Home</a>
          <a routerLink="./entertainment">Entertainment</a>
          <a routerLink="./science">Science</a>
          <a routerLink="./sport">Sport</a>
          <a routerLink="./technology">Technology</a>
        </nav>
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>